<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  The<a href="http://railstutorial.org/#about">Ruby on Rails Tutorial</a> 
  is a <a href="http://railstutorila.org/book">book</a> and screencast seires to teach web
  development with Ruby on Rails. This is the sample app for the tutorial.
</p>
